.movie-list {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    background-color: #c2dffc;
}

.movie-list a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none;
}

.movie-list a:hover {
    background-color: #a0cfff;
}

.movie-list a.active {
    background-color: #53a9ff;
    color: white;
}