.container {
    max-width: 50rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
}